.title_heading {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.jobs__list {
    padding: 40px 0px;
    padding-bottom: 15px;
}


.list_jobs {
    margin-top: 30px;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.list_jobs .item {
    width: 33.3333%;
    margin-bottom: 25px;
    float: left;
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.title_heading span {
    font-weight: 600;
}

.list_jobs .item .box_job {
    float: left;
    width: 100%;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.22);
    padding: 17px;
    background: #FFF;
}

.list_jobs .name_company {
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 1px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

}

.list_jobs .box_job .desc {
    color: #333;
    margin-bottom: 7px;
    font-size: 12px;
    min-height: 40px;
}

.name_company a {
    color: #000;
}

.adress_company {
    width: 100%;
    float: left;
    margin-bottom: 8px;
}

.adress_company .icon {
    width: 15px;
    margin-top: 1px;
    height: 18px;
    text-align: center;
    background-color: #cccccc;
    float: left;
    margin-right: 7px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #333333;
}

.adress_company .value {
    width: calc(100% - 22px);
    float: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    height: 40px;
    -webkit-box-orient: vertical;
    font-size: 14px;
}

.list_jobs .box_job .salary_company .value {
    color: #cc0001;
    width: calc(100% - 22px);
    float: left;
    font-size: 14px;
}

.group_logo_company button:hover {
    background: #254083;
    color: #fff;
    fill: #fff;
    border: none;
}

.group_logo_company {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 10px;
}

.logo_company img {
    height: 70px;
    width: 70px;
}

.group_logo_company button {
    width: 140px;
    height: 30px;
    margin-top: 20px;
    border: 2px dashed #ccc;
    background-color: transparent;
    color: #333333;
}

.group_logo_company svg {
    margin-right: 10px;
}

.list_jobs .box_job .salary_company .icon {
    width: 15px;
    height: 18px;
    display: inline-block;
    text-align: center;
    background-color: #cccccc;
    float: left;
    margin-right: 7px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #333333;
}

.jobs__list p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-bottom: 0;
    margin: 20px 0px;
}

.s-listblog__content p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 110px;
    padding: 0 15px;
}